/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    color: white;
    background-color: black;
    font-size: 12px; 
}

.top-bar{
    height: 120px;

        /* debug */
    background-color: red;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content{
    display: flex;
    flex-grow: 1;
    
}


/* sezioni interne */

.sidebar{
    width: 240px;
    flex-shrink: 0;
     /* debug */
    background-color: blue;
}

.content{
    overflow-y: auto;
    flex-grow: 1;

    /* debug */
    background-color: green;
}

/* barra superiore fissa */
.top-bar{
    position: sticky;
    top: 0;
    z-index: 100;
    height: 70px;
    
    /* debug */
    background-color: yellow;
}

.player{
    height: 100px;
    flex-shrink: 0;

        /* debug */
    background-color: chocolate;
}