/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    color: white;
    background-color: black;
    font-size: 12px; 
}

.top-bar{
    height: 120px;

        /* debug */
    background-color: red;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content{
    display: flex;
    flex-grow: 1;
    
}


/* sezioni interne */

.sidebar{
    width: 220px;
    flex-shrink: 0;
     /* debug */
    background-color: blue;
}

.content{
    overflow-y: auto;
    flex-grow: 1;

    /* debug */
    background-color: green;
}

/* barra superiore fissa */
.call-to-action{
    position: sticky;
    top: 0;
    z-index: 100;
    height: 70px;
    
    /* debug */
    background-color: yellow;
}

.player{
    display: flex;
    justify-content: space-between;
    height: 100px;
    flex-shrink: 0;
    align-items: center;
    

        /* debug */
    background-color: #282828;
}

.player-left{
    flex-basis: 30%;
}

.player-center{
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.player-right{
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end;
    align-items: center;
    background-color: blueviolet;
}

.player-content{
    display: flex;
    align-items: center;
    margin-left: 15px;
}



.title-song{
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

.artist-name{
    font-size: 10px;
    color: #878787;
}

.img-song{
    width: 10%;

}

.icon-content-player{
    font-size: 15px;
    color: #878787;
    margin: 20px;
    
}

.icon-content-player i{
    margin: 5px;
}